.el-container {
  @include container;
}


.el-button a {
    letter-spacing: .2rem;
    font-size: 18px;
    padding: 10px 25px;
}

.el-tag {
  font-size: 15px;
}
.el-menu.el-menu--horizontal {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.el-button--primary {
  color: #FFF;
  background-color: $green;
  border-color: $green;
 }
.el-button--primary:hover {
  color: #FFF;
  background-color: $greenhover;
  border-color: $greenhover;
 }